body {
	margin: 0;
	font-family: Playfair Display;
}

.nav-bar {
	height: 130px;
	background-color: #E3DED8;
}

.navbar-brand {
	float: left;
	margin-left: 100px;
	padding-top: 35px;
}


/*menu*/

ul {
	padding: 40px 0 40px 0;
	margin: 0 20px 0 20px;
	float: right;
}

li {
	/*menu*/
	display: inline;
	/*list-style: none;*/
	/*margin: auto;*/
	/*padding: 0 15px 0 15px;*/
	width: 100px;
	height: 40px;
	/*text-align:center;*/
	line-height: 55px;
	padding: 5px;
	margin-right: 25px;
	margin-left: 15px;
}

a {
	/* lien ds le menu*/
	display: inline-block;
	/*margin: 0px;*/
	text-decoration: none;
	color: #223F48;
	font-size: 16px;
	/*margin-right: 5px;
    margin-top: 5px;*/
}

a:hover {
	/*Menu qui change de couleur*/
	color: #91B5C9;
}

.chase {
	height: 670px;
	background-image: url(images/banner-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	/*filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);*/
	/*background-color: rgb(3, 5, 1);
	/* Fallback color 
	/*background-color: rgba(0, 0, 0, 0.9);
	/* Black w/ opacity */
}

h2 {
	font-weight: 400px;
	font-size: 60px;
	color: white!important;
	text-align: center;
	padding-top: 110px;
	margin: 0;
}

.aeenean {
	font-weight: 400px;
	font-size: 25px;
	color: white;
	text-align: center;
	margin: 0;
}

.btn {
	font-weight: 400px;
	color: white;
	font-size: 17px;
	width: 230px;
	height: 57px;
	margin-left: 550px;
	margin-top: 25px;
	background-color: #91B5C9;
	border: 0;
	border-radius: 5px;
}

h3 {
	font-size: 50px;
	color: #54668F;
	text-align: center;
	font-weight: 400;
}

.since {
	height: 70px;
	background-color: #75A2BB;
}

.guard {
	margin-top: 0;
	font-size: 17px;
	color: white;
	text-align: center;
	padding-top: 25px;
}

.our {
	height: 1100px;
}

.court1 {
	display: flex;
	justify-content: center;
}

.court2 {
	display: flex;
	justify-content: center;
}

.cour1 {}

.cour2 {}

.badges {
	padding-top: 100px;
}

.donec {
	font-size: 20px;
	text-align: center;
}

.come {
	height: 135px;
	background-color: #3E76B2;
}

.you {
	color: white;
	font-size: 26px;
	font-weight: 400px;
	margin-left: 25px;
	padding-top: 50px;
}

.icone {
	float: right;
	margin-right: 400px;
	margin-top: -70px;
}

.famous {
	margin: 0;
	height: 820px;
	background-image: url(images/30.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

.case {
	padding-top: 100px;
	margin-bottom: 10px;
}

.cases {
	text-align: center;
	font-size: 20px;
	font-weight: 300px;
	margin-bottom: 35px;
}

.bos {
	color: #919F94;
	font-size: 20px;
	font-weight: 400px;
	margin-bottom: 0;
}

.sed {
	font-size: 16px;
	font-weight: 400px;
	color: #777A7C;
	margin: 0;
}

.expo {
	background-color: white;
	border-radius: 250px;
	width: 130px;
	height: 130px;
	border-color: 2px #B5D2E2;
}

.fire {
	margin-top: 100px;
	text-align: center;
	display: inline-block;
	margin-left: 100px;
	margin-bottom: 115px;
}

.best {
	height: 1000px;
	margin-bottom: 0px;
	margin-top: 130px;
}

.traitbest {
	background-color: #E5E5E5;
	height: 2pt;
	width: 32px;
	margin-left: 630px;
	margin-bottom: 75px;
	margin-top: 50px;
}

.blocimage {
	/*margin-top: 75px;
	margin-left: 100px;
	margin-right: 75px;*/
	display: flex;
	justify-content: center;
}

.image1 {
	margin-left: 60px;
	margin-bottom: 0;
}

.image2 {
	margin-top: 5px;
	margin-left: 60px;
}

.image3 {
	margin-left: -35px;
}

.image4 {
	margin-left: -35px;
	margin-bottom: 0;
}

.image5 {
	margin-top: 5px;
	margin-left: -35px;
}

.bestimag {
	/*width: 270px;
	height: 270px;
	/*float: left;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bestimag figure {
	width: 270px;
	height: 270px;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.bestimag figure img {
	width: 270px;
	height: 270px;
}

.bestimg {
	/*float: right;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bestimg figure {
	width: 270px;
	height: 270px;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.bestimg figure img {
	width: 270px;
	height: 270px;
}

.grandeimg {
	display: flex;
	justify-content: center;
}

.grandeimg figure {
	width: 547px;
	height: 547px;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.grandeimg figure img {
	width: 547px;
	height: 547px;
}

.zoom figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}

.zoom figure:hover img {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.themisto {
	height: 600px;
	background-image: url(images/bg-testimonials.jpg);
	background-color: transparent;
	background-blend-mode: saturation;
	/*filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);*/
	background-repeat: no-repeat;
	background-size: cover;
}

#carrousel {
	position: relative;
	width: 500px;
	height: 370px;
	margin: 20px auto;
	overflow: hidden;
}

#content li {
	display: inline-block;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	margin: 0;
	padding: 0;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes AutoSlide {
	0%,
	15%,
	100% {
		left: 0px;
		/*1ère image*/
	}
	35%,
	50% {
		left: -250px;
		/*2ème image*/
	}
	50%,
	75% {
		left: -500px;
		/*3ème image*/
	}
}

.studies {
	height: 1000px;
}

.titre {
	font-size: 24px;
	font-weight: 400px;
	color: rgb(106, 145, 190);
}

.icone {}

.text {
	font-size: 16px;
	font-weight: 400px;
	color: rgb(119, 119, 119);
	float: right;
	text-align: center;
}

.civil {
	height: 440px;
	background-image: url(images/bg-civil-law.jpg);
	/*-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.9;*/
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

.quick {
	height: 446px;
	background-color: #54667A;
}

.image,
.disp {
	display: inline-block;
	color: antiquewhite;
	margin: 30px;
}

.spec {
	color: rgb(237, 237, 237);
	font-size: 20px;
	font-weight: 400px;
}

.patricia {
	margin-left: 120px;
	color: rgb(198, 198, 198);
	font-size: 16px;
	font-weight: 400px;
}

.corporate {
	font-size: 16px;
	font-weight: 400px;
	color: rgb(117, 162, 187);
}

.image {
	color: white;
}

footer {
	height: 60px;
	background-color: #405165;
}

.footer {
	color: rgb(160, 168, 178);
	font-size: 12px;
	font-weight: 400px;
	letter-spacing: 1px;
	padding-top: 25px;
	margin-left: 20px;
}

.trait {
	background-color: #E5E5E5;
	height: 2pt;
	width: 32px;
	margin-left: 630px;
}