body {
	margin: 0;
	font-family: Playfair Display;
}

.navbar-nav li {
	display: inline;
}

.chase {
	height: 670px;
	background-image: url(images/banner-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(3, 5, 1);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.9);
	/* Black w/ opacity */
}

h2 {
	font-weight: 400px;
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 110px;
	margin: 0;
}

.aeenean {
	font-weight: 400px;
	font-size: 25px;
	color: white;
	text-align: center;
	margin: 0;
}

.btn {
	font-weight: 400px;
	color: white;
	font-size: 17px;
	width: 230px;
	height: 57px;
	margin-left: 550px;
	margin-top: 25px;
	background-color: #91B5C9;
	border: 0;
	border-radius: 5px;
}

h3 {
	font-size: 50px;
	color: #54668F;
	text-align: center;
	font-weight: 400;
}

.since {
	height: 70px;
	background-color: #75A2BB;
}

.guard {
	margin-top: 0;
	font-size: 17px;
	color: white;
	text-align: center;
	padding-top: 25px;
}

.our {
	height: 1100px;
}

.badges {
	padding-top: 100px;
}

.donec {
	font-size: 20px;
	text-align: center;
}

.come {
	height: 135px;
	background-color: #3E76B2;
}

.you {
	color: white;
	font-size: 26px;
	font-weight: 400px;
	margin-left: 25px;
	padding-top: 50px;
}

.icone {
	float: right;
	margin-right: 400px;
	margin-top: -70px;
}

.famous {
	margin: 0;
	height: 820px;
	background-image: url(images/30.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.case {
	padding-top: 100px;
	margin-bottom: 10px;
}

.cases {
	text-align: center;
	font-size: 20px;
	font-weight: 300px;
	margin-bottom: 35px;
}

.bos {
	color: #919F94;
	font-size: 20px;
	font-weight: 400px;
	margin-bottom: 0;
}

.sed {
	font-size: 16px;
	font-weight: 400px;
	color: #777A7C;
	margin: 0;
}

.expo {
	background-color: white;
	border-radius: 250px;
	width: 130px;
	height: 130px;
	border-color: 2px #B5D2E2;
}

.fire {
	margin-top: 100px;
	text-align: center;
	display: inline-block;
	margin-left: 100px;
	margin-bottom: 115px;
}

.best {
	height: 1000px;
}

.blocimage {
	/*margin-top: 75px;
	margin-left: 100px;
	margin-right: 75px;*/
	display: flex;
	justify-content: center;
}

.image1 {
	margin-left: 60px;
}

.image2 {
	margin-left: 60px;
}

.image3 {
	margin-left: -35px;
}

.image4 {
	margin-left: -25px;
}

.image5 {
	margin-left: -25px;
}

.bestimag {
	/*width: 270px;
	height: 270px;
	/*float: left;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bestimag figure {
	width: 270px;
	height: 270px;
}

.bestimag figure img {
	width: 270px;
	height: 270px;
}

.bestimg {
	/*float: right;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bestimg figure {
	width: 270px;
	height: 270px;
}

.bestimg figure img {
	width: 270px;
	height: 270px;
}

.grandeimg {
	display: flex;
	justify-content: center;
}

.grandeimg figure {
	width: 547px;
	height: 547px;
}

.grandeimg figure img {
	width: 547px;
	height: 547px;
}

.themisto {
	height: 600px;
	background-image: url(images/bg-testimonials.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9 black;
}

#carrousel {
	position: relative;
	width: 500px;
	height: 370px;
	margin: 20px auto;
	overflow: hidden;
}

#content ul {
	display: inline-block;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	margin: 0;
	padding: 0;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes AutoSlide {
	0%,
	15%,
	100% {
		left: 0px;
		/*1ère image*/
	}
	35%,
	50% {
		left: -250px;
		/*2ème image*/
	}
	50%,
	75% {
		left: -500px;
		/*3ème image*/
	}
}

.studies {
	height: 1000px;
}

.civil {
	height: 440px;
	background-image: url(images/bg-civil-law.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.quick {
	height: 446px;
	background-color: #54667A;
}

.disp {
	display: inline-block;
	color: antiquewhite;
}

.image {
	color: white;
}

footer {
	height: 60px;
	background-color: #405165;
}

.trait {
	background-color: #E5E5E5;
	height: 2pt;
	width: 32px;
	margin-left: 630px;
}